<div
  x-show="open"
  x-cloak
  x-data="{content: ''}"
  class="w-full pl-2 pr-2 mt-2 md:pl-4 md:pr-4 md:mt-3"
  id="create_reply_{{ parent_page.id }}_id">
  <div class="flex space-x-3">
    <div class="w-full">
      {%# 评论框 %}
      {% form_tag 'page' %}
        <input value="reply_level_2" autocomplete="off" type="hidden" name="page[template_name]">
        <input value="" autocomplete="off" type="hidden" name="page[template_style]">
        <input value="{{ parent_page.path }}" autocomplete="off" type="hidden" name="page[parent_full_path]">
        <input value="create_answer_reply_success" autocomplete="off" type="hidden" name="return_template_name">
        <textarea name="page[template_variables]content" rows="4" class="w-full form-textarea placeholder:italic" placeholder="回复{{ reply.author.name }}..."></textarea>
        <div id="reply_{{ reply.id }}_error" class="text-xs text-red-500"></div>
        <div class="flex items-center space-x-3">
          <input
            type="submit"
            value="提交"
            @click="open = false"
            class="inline-flex items-center justify-center px-4 py-1 mt-2 text-xs font-medium leading-5 text-white transition duration-150 ease-in-out rounded-full bg-primary whitespace-nowrap" />
          <div class="inline-flex items-center justify-center px-4 py-1 mt-2 text-xs font-medium leading-5 transition duration-150 ease-in-out rounded-full bg-slate-900 whitespace-nowrap" x-on:click="open = false; content=''">
            取消
          </div>
        </div>
      {% endform_tag %}
    </div>
  </div>
</div>
