{% if current_user %}
  <div class="w-2/3 mx-auto sm:px-6 min-h-fit">
    <div class="flex flex-col justify-between text-content-subdued">
      <div class="flex-1 max-w-7xl " >
        {% form_tag 'page' %}
          {% render 'post_form', page: page,  action: 'edit' %}
        {% endform_tag %}
      </div>
    </div>
  </div>
{% else %}
  <div class="w-2/3 px-2 mx-auto sm:px-6 min-h-fit">
    未登录跳转登录页...
    {% form_tag 'sign_in_with_baklib' %}
      <input value="true" type="hidden" name="sign_up">
      <input type="submit"
        value="{{ "buttons.login" | t: '登录' }}"
        class="items-center hidden px-3 py-2 text-sm font-medium text-white transition duration-150 ease-in-out hover:text-slate-200 lg:px-5"
        data-disable-with=" ... " x-init="$el.click()"
        >
    {% endform_tag %}
  </div>
{% endif %}
