<div>

</div>

{% schema %}
  {
  "name": "Post问题回复页面",
  "description": "问题回复详情模板",
  "sub_page_templates": ["reply_level_2"],
  "thumb_url": "images/theme/post.png",
  "settings": [
    {
    "id": "content",
    "type": "richtext",
    "label": "评论内容"
    }
  ]
  }
{% endschema %}
